@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono&display=swap");

:root {
  --mint-color1: #20dbc2;
  --mint-color2: #22c5af;
  --htm-color: rgba(12, 11, 33, 0.9);
  --lightmode-text-clr: rgb(8, 2, 71);
  --darkmode-text-clr: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
}

html {
  background-color: azure;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#big-circle {
  position: absolute;
  width: 350vw;
  height: 350vh;
  border-radius: 50%;
  background-color: var(--mint-color2);
  transform: translate(-84%, -50%);
  transition: all 2s ease-in-out;
  z-index: 2;
}

.intro-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 100px;
  z-index: 3;
}

.intro-text {
  max-width: 500px;
  width: 40vw;
  text-align: center;
  color: whitesmoke;
}

#non-member {
  position: relative;
  left: 4vw;
  transition: transform 3s;
}

#member {
  position: relative;
  right: 4vw;
  transition: transform 3s;
}

.welcome-title {
  font-size: 4rem;
  margin-bottom: 25px;
}

.welcome-note {
  font-size: 2rem;
  margin-bottom: 25px;
}

.btn {
  border-radius: 40px;
  width: 150px;
  height: 50px;
  color: var(--darkmode-text-clr);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.form-btn {
    background-color: var(--mint-color2);
    margin-bottom: 25px;
}

.toggle-btn {
  background-color: transparent;
  border: 3px solid var(--darkmode-text-clr);
}

.form-btn:hover {
  background: var(--mint-color1);
}

.toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #4f4e4e;
  border-color: transparent;
}

/* input form */

.container-form {
  width: 100%;
  height: 80vw;
  max-height: 600px;
  align-self: center;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 40vw;
  height: 100%;
  min-width: 432px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-up {
  margin-left: 5vw;
  transition: transform 2s;
}

#log-in {
  margin-right: 5vw;
  transition: transform 2s;
}

.form h1 {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
  color: var(--htm-color);
}

.form p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 35px;
}

.input-field {
  width: 90%;
  height: 70px;
  margin-bottom: 25px;
  display: flex;
  border-radius: 55px;
  background-color: #f0f0f0;
}

.input-field i {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--htm-color);
}

.password-toggle-icon {
  font-size: 2rem !important;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}

.input-field input {
  height: 100%;
  width: 85%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--htm-color);
}

.input-field input[type="password"] {
  width: 75%
}

input::placeholder {
  color: #716f6fa0;
  font-weight: 400;
}

.social-medias {
  display: flex;
}

.social-icons {
  margin: 0 15px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.social-medias a {
  text-decoration: none;
}

.social-icons i {
  font-size: 3rem;
  color: var(--htm-color);
  transition: all 0.3s;
}

.social-medias a:hover :is(.social-icons, .social-icons i) {
  color: var(--mint-color1);
  border-color: var(--mint-color2);
}

.img-container {
    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
    bottom: 15px;
    /* border: 1px solid black; */
    justify-content: space-between;
    z-index: 3;
}

#ratings {
    margin-left: 20vw;
    height: 35vh;
    transition: transform 4s;
}

#officers {
    margin-right: 20vw;
    height: 50vh;
    transition: transform 4s;
}

.show {
    transform: translateX(0);
}

.hide-left {
    transform: translateX(-500%);
}

.hide-right {
    transform: translateX(500%);
}